<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <main>
        <div class="flex items-center justify-between mx-4">
            <div class="w-16 py-2 flex items-center gap-x-4">
                <img src="../assets/img/circle-logo-turbine-png.webp" alt="">
                <span class="text-xl text-neutral-800 font-medium">Empresa</span>
            </div>
            <div>
                <button class="bg-slate-700 border border-slate-700 shadow shadow-neutral-400 text-white px-3 py-1.5 rounded hover:bg-slate-800 hover:border-slate-800 transiton font-medium duration-300 uppercase">
                    <i class="bi bi-person-fill text-lg"></i>
                    Iniciar sesión
                </button>
            </div>
        </div>
        <div class="flex items-center justify-between bg-emerald-600">
            <div class="text-white font-medium p-4 hover:text-black hover:bg-white transition duration-300 cursor-pointer">
                <a href="./view02.html">Ir a la vista 2</a>
                <i class="bi bi-arrow-right-circle"></i>
            </div>
            <div class="text-white font-medium p-4 hover:text-black hover:bg-white transition duration-300 cursor-pointer">
                <i class="bi bi-arrow-left-circle"></i>
                <a href="../index.html">Regresar</a>
            </div>
        </div>
        <div class="mt-8 max-w-3xl shadow-lg shadow-slate-100 mx-auto border rounded-lg border-neutral-300">
            <div class="bg-neutral-100 py-2 border-b border-neutral-300">
                <h2 class="text-xl text-center font-medium text-neutral-700">Formulario</h2>
            </div>
            <div class="px-8 pt-6 pb-1">
                <form>
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
                        <div class="flex flex-col gap-y-1">
                            <label class="text-sm text-neutral-700 font-medium" for="nombre">Nombre: </label>
                            <input id="nombre" class="border border-neutral-400 rounded hover:ring-1 hover:ring-neutral-500 transition duration-300 focus:outline-none focus:border-neutral-500 focus:ring-1 focus:ring-neutral-500 placeholder-neutral-500 px-2 py-2" type="text" value="" maxlength="30" placeholder="Ingrese un nombre">
                        </div>
                        <div class="flex flex-col gap-y-1">
                            <label class="text-sm text-neutral-700 font-medium" for="apellido">Apellido: </label>
                            <input id="apellido" class="border border-neutral-400 rounded hover:ring-1 hover:ring-neutral-500 transition duration-300 focus:outline-none focus:border-neutral-500 focus:ring-1 focus:ring-neutral-500 placeholder-neutral-500 px-2 py-2" type="text" value="" maxlength="30" placeholder="Ingrese un nombre">
                        </div>
                        <div class="flex flex-col gap-y-1">
                            <label class="text-sm text-neutral-700 font-medium" for="fechaNacimiento">Fecha de nacimiento: </label>
                            <input id="fechaNacimiento" class="border border-neutral-400 rounded hover:ring-1 hover:ring-neutral-500 transition duration-300 focus:outline-none focus:border-neutral-500 focus:ring-1 focus:ring-neutral-500 placeholder-neutral-500 px-2 py-2" type="text" value="" maxlength="30" placeholder="Ingrese un nombre">
                        </div>
                        <div class="flex flex-col gap-y-1">
                            <label class="text-sm text-neutral-700 font-medium" for="correo">Correo: </label>
                            <input id="correo" class="border border-neutral-400 rounded hover:ring-1 hover:ring-neutral-500 transition duration-300 focus:outline-none focus:border-neutral-500 focus:ring-1 focus:ring-neutral-500 placeholder-neutral-500 px-2 py-2" type="email" value="" placeholder="Ingrese un correo">
                        </div>
                        <div class="md:col-span-2 flex flex-col gap-y-1">
                            <label class="text-sm text-neutral-700 font-medium" for="mensaje">Mensaje: </label>
                            <textarea id="mensaje" class="border border-neutral-400 rounded hover:ring-1 hover:ring-neutral-500 transition duration-300 focus:outline-none focus:border-neutral-500 focus:ring-1 focus:ring-neutral-500 placeholder-neutral-500 px-2 py-2" rows="4" placeholder="Ingrese un mensaje"></textarea>
                        </div>
                    </div>
                    <div class="mt-4 flex items-center justify-center gap-x-4">
                        <button class="bg-amber-400 border border-amber-400 shadow shadow-neutral-400 text-white px-5 py-1 rounded hover:bg-amber-500 hover:border-amber-500 transiton duration-300 uppercase" type="reset">Limpiar</button>
                        <button class="bg-emerald-600 border border-emerald-600 shadow shadow-neutral-400 text-white px-5 py-1 rounded hover:bg-emerald-700 hover:border-emerald-700 transiton duration-300 uppercase" type="submit">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
</html>