<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <h1>Esta es la vista 1</h1>
        <div>
            <a href="./view02.html">Ir a la vista 2</a>
        </div>
        <div>
            <a href="../index.html">Regresar</a>
        </div>
        <form action="function()" method="get">
            <div>
                <label for="nombre">Ingrese nombre: </label>
                <input id="nombre" type="text" value="" maxlength="30" placeholder="Ingrese un nombre">
            </div>
            <div>
                <label for="correo">Ingrese correo: </label>
                <input id="correo" type="email" value="" placeholder="Ingrese un correo">
            </div>
            <div>
                <label for="password">Ingrese contraseña: </label>
                <input id="password" type="password" value="" minlength="5" maxlength="15" placeholder="Ingrese una contraseña">
            </div>
            <div>
                <button type="submit">Enviar</button>
                <button type="reset">Limpiar</button>
            </div>
        </form>
    </main>
</body>
</html>